---
import '../styles/global.css';
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- Standard favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any" />
        <!-- For Safari -->
        <link rel="mask-icon" href="/favicon.ico" color="#000000" />
        <!-- For modern browsers -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <!-- Force favicon refresh -->
        <link rel="icon" href="/favicon.ico?v=2" />
        <title>{title} | Honeyz Adventures</title>
    </head>
    <body class="bg-gray-950 text-gray-100">
        <nav class="flex gap-4 p-4 bg-gray-900">
            <a href="/" class="text-gray-100 px-4 py-2 rounded-md hover:bg-gray-800">Home</a>
            <a href="/collections/lighthouses" class="text-gray-100 px-4 py-2 rounded-md hover:bg-gray-800">Lighthouses</a>
            <a href="/collections/darden-restaurants" class="text-gray-100 px-4 py-2 rounded-md hover:bg-gray-800">Darden Restaurants</a>
            <a href="/collections/wisconsinstateparks" class="text-gray-100 px-4 py-2 rounded-md hover:bg-gray-800">Wisconsin State Parks</a>
        </nav>
        <main>
            <slot />
        </main>
    </body>
</html> 